<div class="row mt-5">    
    <style>
           .aligncenter {
               text-align: center;
           }
           </style>
           <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
       <div class="col-md-6 m-auto">
         <div class="card card-body text-center">
           <h1><i class="fab fa-node-js fa-3x"></i></h1>
           <p>Welcome to TCSS545 Inventory Management System App</p>
           <p class="aligncenter">
                   <img src="https://www.bellevuedowntown.com/_files/images/8_16_17_member_university_of_washington.png" alt="Stickman" width="50" height="50" class="center">
               </p>
           <a href="/users/register" class="btn btn-primary btn-block mb-2"
             >Register</a>
           <a href="/users/" class="btn btn-secondary btn-block">Login</a>
         </div>
       </div>
     </div>
     <body>
         <i class='fas fa-desktop' style='font-size:24px'></i>
     </body>